<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All posts</title>
  </head>
  <body>
    <table>
      <thead>
        <th>Post ID</th>
        <th>Post</th>
        <th>User Name</th>
      </thead>
      <tbody>
        {{#each posts}}
        <tr>
          <td>{{@post}}{{id}}</td>
          <td>{{@post}}{{posts}}</td>
          <td>{{@post}}{{username}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>
